[Unit]
Description=MDRAID enable
DefaultDependencies=no
After=-.mount
#Before=mnt-zssd.mount mnt-zhdd.mount docker.service libvirtd.service
Before=mnt-zhdd.mount docker.service libvirtd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/bengalfox/mdraid-enable.sh

[Install]
WantedBy=multi-user.target
